/* Styles for Intercom */
.trueai-suggestions-area-intercom {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}

.trueai-suggestion-intercom {
  background: #fff;
  border: 1px solid #c9d7df;
  border-radius: 6px;
  color: #37474F;
  font-family: inherit;
  font-size: 13px;
  height: 60px;
  line-height: 18px;
  margin: 10px;
  outline: none;
  padding: 5px;
  width: 300px;
}

.trueai-suggestion-intercom > .trueai-suggestion-text {
  align-items: center;
  border-right: 1px solid #c9d7df;
  box-sizing: border-box;
  display: flex;
  float: left;
  height: 40px;
  justify-content: center;
  padding: 5px;
  width: 80%;
}

.trueai-suggestion-intercom > .trueai-sticker {
  align-items: center;
  display: flex;
  float: right;
  height: 40px;
  justify-content: center;
  width: 20%;
}

.trueai-suggestion-intercom > .trueai-sticker > .trueai-logo {
  height: 40px;
  opacity: 0.7;
}
